.footerDiv {
    background-color: rgb(53, 52, 52);
    border-radius: 10px 10px 0 0;
    padding-bottom: 20px;
    color: white;
}

.about {
    display: flex;
}

.about .hr {
    border-bottom: 1px solid rgb(167, 167, 167);
    width: 45%;
    margin: auto;
}

.aboutEnd .hr {
    border-bottom: 1px solid rgb(167, 167, 167);
    width: 99.5%;
    margin: auto;
}

.about div:nth-child(2) {
    color: rgb(226, 224, 224);
    padding-right: 1.5%;
    padding-left: 1.5%;
    margin-top: 10px;
    font-size: 20px;
}

.footerUserInfo{
    display: flex;
    margin-left: 10px;
    margin-bottom: 20px;
    align-items: center;
}

.footerUserInfo div:nth-child(1){
    width: 150px;
    height: 150px;
}

.footerUserInfo div:nth-child(1) img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
}

.footerUserInfo div:nth-child(2){
    margin-left: 20px;
}

.footerUserInfo div:nth-child(2) p:nth-child(1){
    font-size: 35px;
    cursor: pointer;
}

.footerUserInfo div:nth-child(2) p:nth-child(2){
    font-size: 20px;
}

.expYrs{
    color: rgb(255, 97, 97);
}