.addProjectsDiv {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    width: 100%;
}

.addProjectsDiv form {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.addProjectsDiv legend {
    border-bottom: 1px solid black;
}

.addProjectsDiv table {
    font-size: 20px;
}

.addProjectsDiv table tr td {
    padding: 10px;
}

.adminButtonFirst {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.adminBTN1,
.adminBTN2 {
    padding: 5px 15px;
    font-size: 20px;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: black;
    color: white;
}

.adminBTN1:hover,
.adminBTN2:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.adminButtonClicked {
    transform: scale(0.99, 0.99);
    box-shadow: 0 0 0 2px black inset;
}